@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&family=Noto+Sans+JP:wght@200&family=Poppins:wght@200;300;500&family=Qwitcher+Grypen&family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #001e4d;
}
.app
{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding: 30px;
}
.quiz
{
    padding: 20px 0;

}
.quiz h2
{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn
{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding:10px;
    margin:10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled])
{
    background: #222;
    color: #fff;
}
.btn:disabled
{
    cursor: no-drop;
}
#next-button
{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
.correct
{
    background-color: #9aeabc;
}
.incorrect
{
    background-color: #ff9393;
}